@model Employee

@{
    ViewData["Title"] = "Домашняя страница";
}

<h1>Добро пожаловать @Model.Name</h1>
<h2>Ваша роль - @Model.Role</h2>

@if(Model.Role == "Manager")
{
    <p>Менеджер</p>
}
else if(Model.Role == "Worker")
{
    <p>Работяга</p>
}
else
{
    <p>Фрилансер</p>
}
